USE [DevTest]
GO
/****** Object:  StoredProcedure [dbo].[testprocedure]    Script Date: 29-10-2024 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[testprocedure] 
as
begin
		select 'this is a test procedure'
end

GO
